*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    background-color: hsl(216, 12%, 8%);
}

@font-face {
    font-family: Overpass;
    src: url(./overpass/overpass-regular.otf);
  }
  @font-face {
    font-family: Overpassb;
    src: url(./overpass/overpass-bold.otf);
  }



  .box {
    height: 400px;
    width: 400px;
    background: linear-gradient(to bottom, hsl(215, 19%, 17%), hsl(216, 12%, 8%));
    margin: 200px auto;
    border-radius: 30px;
    padding-top: 30px; /* pushes all content down evenly */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.581); /* subtle shadow */
  }
  
  
  .star {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: hsl(217, 12%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 30px;
  }

  .how{
    font-family: Overpassb;
    font-size: 30px;
    color: white;
  }

  .box2{
    /* border: 1px solid white; */
    width: 85%;
    margin: 0 auto;
  }


  .info{
    font-family: Overpass;
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    margin-top: 10px;
  }

.buts{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
  
button{
    font-family: Overpassb;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: hsl(217, 12%, 63%);
    background-color:  hsl(217, 12%, 20%);
}

button:hover{
    cursor: pointer;
    background-color: hsl(0, 100%, 100%);
    font-family: Overpassb;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: hsl(217, 12%, 63%);
}

#submit {
    margin-top: 15px;
    background-color:hsl(25, 87%, 30%); 
    width: 100%;
    border: none;
    border-radius: 8px; /* gives soft rounded corners */
    padding: 12px 0; /* adds nice vertical space */
    color: white;
    font-family: Overpassb;
    cursor: pointer;
  }
  

#submit:hover {
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    border: none;
    border-radius: 8px; /* gives soft rounded corners */
    padding: 12px 0; /* adds nice vertical space */
    color: white;
    font-family: Overpassb;
    cursor: pointer;
  }


  .rate-btn.active {
    background-color: hsl(25, 97%, 53%);
    color: white;
  }
  
  